<div class="cards">
    <div class="availablity_badge {%NOT_AVAILABLE%}">Available</div>
    <div class="card_img">
        <img src="{%ITEMIMG%}" alt="{%ITEMNAME%}">
    </div>
    <div class="card_body">
        <div class="card_title">
            <h4>{%ITEMNAME%}</h4>
        </div>
        <div class="description">
            <p>
            {%ITEMDESC%}
            </p>
        </div>
        <div class="price">
            <p>Price: {%ITEMPRICE%}$</p>
        </div>
        <a href="product?id={%ID%}" class="view_btn">
            view >
        </a>
    </div>
</div>